.searchresults{
    padding:40px;
    padding-top:10px;
    margin:20px;
    font-size: 20px;
}
.searchresults h1{
    font-size: 30px;
}


.project-summary {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  display: flex;
  border-radius: 6px;
  width:100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.project-summary li {
  padding: 12px 20px;
  font-size: 20px;
  color:#7c3aed;
  border-bottom: 1px solid #eee;
}


li b{
    color:black;
}

.searchresults a{
    color: white;

}
.searchresults li{
    margin-bottom:15px;
    
}
.searchresults a:hover{
    color:black;
    text-decoration:underline;
}

.bar{
    display: flex;
    gap:20px;

}

.searchfield{

    width:90%;
}

.formcontrol{
    width:30%;
}